<%= simple_form_for profile, 
                    data: { controller: 'image-files', 
                            image_files_file_field_ind_value: 0 } do |form| %>
  <%= form.simple_fields_for :avatar do |avatar_form| %>
    <div class="field avatar-field">
      <p>Avatar</p>
      <div class="preview" data-image-files-target="preview">
        <%= full_avatar(profile, false) %>
      </div>
      <div class="avatar-upload" data-image-files-target="fileFieldContainer">
        <button data-action="image-files#selectFileField">Upload Avatar</button>
        <%= avatar_form.input_field :stored,
                                    as: :file,
                                    id: 'filefield-0', class: 'hidden',
                                    data: { action: 'image-files#filterImageFileType
                                                     image-files#updateFileDisplaySingleLarge' } %>
      </div>
      <div class="avatar-errors" data-image-files-target="errors">
        <% profile.avatar.errors.full_messages.each do |message| %>
          <p class="error"><%= message %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= form.input :first_name %>
  <%= form.input :middle_name %>
  <%= form.input :last_name %>

  <div class="field">
    <%= form.input :birthdate, html5: true, wrapper: false %>
    <div class="selection">
      <%= form.check_box :birthdate_public, checked: profile.set_to_public?(:birthdate) %>
      <%= form.label :birthdate_public, 'Show Birthday on Profile' %>
    </div>
  </div>
  <div class="field">
    <%= form.input :location, wrapper: false %>
    <div class="selection">
      <%= form.check_box :location_public, checked: profile.set_to_public?(:location) %>
      <%= form.label :location_public, 'Show Location on Profile' %>
    </div>
  </div>
  <div class="submit"><%= form.submit %></div>
<% end %>
