<%= simple_form_for profile do |form| %>
  <%= form.input :first_name %>
  <%= form.input :middle_name %>
  <%= form.input :last_name %>
  <%= form.simple_fields_for :avatar do |avatar_form| %>
    <p>Profile Picture</p>
    <%= full_avatar(profile, false) %>
    <%= avatar_form.input :stored, as: :file, label: 'Upload New Profile Picture' %>
  <% end %>

  <div class="field">
    <%= form.input :birthdate, html5: true, wrapper: false %>
    <%= form.check_box :birthdate_public, checked: profile.set_to_public?(:birthdate) %>
    <%= form.label :birthdate_public, 'Show Birthday on Profile' %>
  </div>
  <div class="field">
    <%= form.input :location, wrapper: false %>
    <%= form.check_box :location_public, checked: profile.set_to_public?(:location) %>
    <%= form.label :location_public, 'Show Location on Profile' %>
  </div>
  <%= form.submit %>
<% end %>
