<%= turbo_frame_tag "#{reactable.model_name.singular}-#{reactable.id}-comments-with-form", class: 'comments-display' do %>
  <% if reactable.preview_comments? && !local_assigns.fetch(:hide_preview, nil) %>
    <div id="<%= reactable.model_name.singular %>-<%= reactable.id %>-comments" class="comments-list">
      <%= render reactable.comments.preview %>
    </div>
    <% unless Comment.all_displayed?(reactable.comments.preview) %>
      <div class="more-comments-link">
        <%= link_to "View more #{reactable.comment_name.pluralize}", 
                    comments_path(reactable.model_name.route_key, reactable.id, page: 1) %>
      </div>
    <% end %>
  <% end %>
<% end %>
