<div>
  <%= turbo_frame_tag "comment-#{comment.id}", 
                      data: { controller: 'redirect', 
                              action: "turbo:before-fetch-response->redirect#intercept" } do %>
    <div class="user">
      <%= render comment.user %>
    </div>
    <div class="time"><%= comment.created_at_abbr_display %></div>
    <div class="body"><%= comment.body %></div>
    <div class="photos">
      <% comment.photos.each do |photo| %>
        <%= render photo, link_path: image_path(photo), size: '150' %>
      <% end %>
    </div>
    <%= render 'likes/likes_display', reactable: comment %>
    <%= render 'likes/likes_link', reactable: comment %>
    <%= render 'comments/comment_link', text: comment.comments.any? ? 'Show Replies' : 'Reply', reactable: comment %>

    <% if comment.user == current_user %>
      <%= link_to 'Edit This Comment', edit_comment_path(comment) %>
      <%= link_to 'Delete This Comment', comment, data: { turbo_method: :delete } %>
    <% end %>
  <% end %>
  
  <%= render 'comments/comment_display', reactable: comment %>
</div>
