<div class="user">
  <%= render current_user %>
</div>
<%= simple_form_for comment, 
                    url: url,
                    data: { controller: 'form', action: 'turbo:submit-end->form#reset' } do |form| %>
  <%= form.input :body, label: false %>
  <%= render comment.photos, size: '250' %>
  <div class="field">
    <%= form.label :raw_photos, 'Upload Photos' %>
    <%= form.file_field :raw_photos, multiple: true %>
    <% comment.photos.each.with_index(1) do |photo, i| %> 
      <% photo.errors[:stored].each do |message| %>
        <p class="error">Photo #<%= i %> <%= message %></p>
      <% end %>
    <% end %>
  </div>
  <%= form.submit 'Submit' %>
<% end %>
