<div class="user">
  <%= render current_user %>
</div>
<%= simple_form_for comment, 
                    url: url,
                    data: { controller: 'form', 
                            action: 'turbo:submit-end->form#reset' } do |form| %>
  <%= form.input :body, 
                 label: false, 
                 input_html: { data: { form_target: 'input', action: 'form#setSubmit' } } %>
  <div class="field">
    <div class="preview" data-form-target="preview">
      <%= render comment.photos, link_path: false, height: '150' %>
    </div>
    <%= form.label :raw_photos, 'Upload Photos' %>
    <%= form.file_field :raw_photos, 
                        multiple: true, 
                        data: { form_target: 'input', action: 'form#setSubmit form#addToPreview' } %>
    <% comment.photos.each.with_index(1) do |photo, i| %> 
      <% photo.errors[:stored].each do |message| %>
        <p class="error">Photo #<%= i %> <%= message %></p>
      <% end %>
    <% end %>
  </div>
  <%= form.submit 'Submit', disabled: true, data: { form_target: 'submit' } %>
<% end %>
