<%= turbo_frame_tag "#{@reactable_singular}-#{@reactable.id}-comments-with-form" do %>
  <div class="form posts-comments-form comments comments-index">
    <% if @reactable.comment_form_first? %>
      <%= turbo_frame_tag "#{@reactable_singular}-#{@reactable.id}-comments-form" do %>
        <%= render 'form', comment: @comment, url: comments_path(@reactable_type, @reactable.id) %>
      <% end %>
    <% end %>
    <div id="<%= @reactable_singular %>-<%= @reactable.id %>-comments" class="comments-list">
      <%= render @comments %>
    </div>
    <% unless Comment.all_displayed?(@comments) %>
      <%= link_to "View more #{@reactable.comment_name.pluralize}", comments_path(@reactable_type, @reactable.id, page: (@page || 0) + 1) %>
    <% end %>
    <% unless @reactable.comment_form_first? %>
      <%= turbo_frame_tag "#{@reactable_singular}-#{@reactable.id}-comments-form" do %>
        <%= render 'form', comment: @comment, url: comments_path(@reactable_type, @reactable.id) %>
      <% end %>
    <% end %>
  </div>
<% end %>
