<% content_for :page_classes do 'form posts-comments-form users users-show' end %>
<% content_for :flash %>

<div class="sidebar">
  <%= render @profile, user: @user %>
  <% if current_user.friends.include?(@user) %>
    <%= render 'friends/destroy_link', friend: @user %>
  <% elsif @user == current_user %>
    <div class="friends">
      <h4>Friends (<%= @user.friends.size %>)</h4>
      <div class="friends-list">
        <%= render @user.friends.limit(3) %>
      </div>
      <% if @user.friends.size > 3%>
        <%= link_to 'More', friends_path, class: 'more-link' %>
      <% end %>
    </div>
  <% else %>
    <%= render 'friend_requests/form_or_pending',
                user: @user,
                sent_friend_requests: current_user.sent_friend_requests.pending,
                received_friend_requests: current_user.received_friend_requests.pending,
                sender_label_method: :generic_name %>
  <% end %>
</div>

<div class="main">
  <% if @profile.user == current_user %>
    <%= link_to 'Edit Profile', edit_profile_path, class: 'edit-profile-link button' %>
  <% end %>
  <%= render 'shared/flash' %>
  <div class="main-content">
    <h3>Profile</h3>
    <div class="photos">
      <h4>Photos</h4>
      <%= turbo_frame_tag 'photos-scroll' do %>
        <% unless @photos_page == 1 %>
          <%= link_to '<', user_path(@user, photos_page: @photos_page - 1), class: 'button arrow left' %>
        <% end %>
        <div class="photos-list">
          <% @photos.each do |photo| %>
            <%= render photo, link_path: image_path(photo), height: '150' %>
          <% end %>
        </div>
        <% unless Image.last_page?(@photos_page, @photos_count) %>
          <%= link_to '>', user_path(@user, photos_page: @photos_page + 1), class: 'button arrow right' %>
        <% end %>
      <% end %>
    </div>
    <% if @user == current_user %>
      <%= turbo_frame_tag 'new_post', src: new_post_path(response_format: 'turbo_stream') %>
    <% end %>
    <div class="posts">
      <h4>Posts</h4>
      <%= turbo_frame_tag 'posts' do %>
        <%= render @posts, hide_preview: true %>
        <% unless @posts.size == @posts_count %>
          <div class="more-posts-link">
            <%= link_to 'View more posts', 
                        user_path(@user, posts_page: @posts_page + 1) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
