<% content_for :page_classes do 'devise form passwords passwords-new' end %>

<div class="form-container">
  <h2>Forgot or don't know your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% if user_signed_in? %>
      <div>Email address: <%= current_user.email %></div>
      <div>Reset password instructions will be sent to your email address.</div>
      <%= f.hidden_field :email, value: current_user.email %>
    <% else %>
      <%= render "devise/shared/error_messages", resource: resource %>
  
      <div class="field">
        <%= f.label :email, 'Enter your email address' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    <% end %>
  
    <div class="actions submit">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
  
  <% unless user_signed_in? %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
