<%= simple_form_for post, 
                    format: response_format, 
                    data: { controller: 'form', 
                            action: 'turbo:submit-end->form#reset',
                            form_file_field_ind_value: 0 } do |form| %>
  <%= hidden_field_tag 'response_format', response_format %>
  <%= form.input :body, 
                 label: false, 
                 placeholder: "What's on your mind, #{profile.first_name}?",
                 input_html: { data: { form_target: 'input', action: 'form#setSubmit' } } %>
  <div class="field">
    <div class="photos">
      <%= render post.photos, link_path: false, height: '150' %>
      <span class="preview" data-form-target="preview"></span>
    </div>
    <div class="photo-upload">
      <%= form.label :raw_photos, 'Upload Photos' %>
      <%= form.file_field :raw_photos, multiple: true, id: 'filefield-0',
                          data: { form_target: 'input', action: 'form#updateFileDisplay form#setSubmit' } %>
    </div>
    <% post.photos.each.with_index(1) do |photo, i| %> 
      <% photo.errors[:stored].each do |message| %>
        <p class="error">Photo #<%= i %> <%= message %></p>
      <% end %>
    <% end %>
  </div>
  <%= form.submit 'Post', disabled: true, data: { form_target: 'submit' } %>
<% end %>
