<%= simple_form_for post, 
                    format: response_format, 
                    data: { controller: 'form image-files', 
                            action: 'turbo:submit-end->form#reset 
                                     image-files:input->form#setSubmit 
                                     form:reset->image-files#clearAll',
                            image_files_file_field_ind_value: 0 } do |form| %>
  <%= hidden_field_tag 'response_format', response_format %>
  <%= form.input :body, 
                 label: false, 
                 wrapper_class: 'field body-field',
                 placeholder: "What's on your mind, #{profile.first_name}?",
                 input_html: { data: { form_target: 'input', action: 'form#setSubmit' } } %>
  <div class="preview" data-image-files-target="preview">
    <%= form.simple_fields_for :photos do |photo_form| %>
      <div id="image-<%= photo_form.object.id %>">
        <%= render photo_form.object, link_path: false, height: '150' %>
        <a href="" data-action='image-files#removeDatabaseImage'>Remove</a>
      </div>
      <%= photo_form.input :_destroy,
                            as: :hidden, 
                            wrapper: false,
                            input_html: { id: "destroy-#{photo_form.object.id}",
                                          value: '',
                                          data: { form_target: 'input' } } %>
    <% end %>
  </div>
  <div class="field photos-field">
    <div class="photo-errors error-list" data-image-files-target="errors">
      <% post.photos.each.with_index(1) do |photo, i| %> 
        <% photo.errors[:stored].each do |message| %>
          <p class="error">Photo #<%= i %> <%= message %></p>
        <% end %>
      <% end %>
    </div>
    <div class="photo-upload">
      <%= form.file_field :raw_photos, multiple: true, id: 'filefield-0',
                          data: { form_target: 'input', 
                                  action: 'image-files#filterImageFileType 
                                           image-files#updateFileDisplay  
                                           form#setSubmit' } %>
      <%= form.label :raw_photos, 'Upload Photos' %>
    </div>
  </div>
  <div class="submit"><%= form.submit 'Post', disabled: true, data: { form_target: 'submit' } %></div>
<% end %>
