<%= simple_form_for post, 
                    format: local_assigns.fetch(:response_format, nil), 
                    data: { controller: 'form image-files', 
                            action: 'turbo:submit-end->form#reset 
                                     image-files:input->form#setSubmit 
                                     form:reset->image-files#clearAll',
                            image_files_file_field_ind_value: 0 } do |form| %>
  <%= hidden_field_tag 'response_format', local_assigns.fetch(:response_format, nil) %>
  <%= form.input :body, 
                 label: false, 
                 wrapper_class: 'body-field',
                 placeholder: "What's on your mind, #{profile.first_name}?",
                 input_html: { data: { form_target: 'input', action: 'form#autoResize form#setSubmit' } } %>
  <div class="preview" data-image-files-target="preview">
    <%= form.simple_fields_for :photos do |photo_form| %>
      <div id="image-<%= photo_form.object.id || "i#{photo_form.index}" %>">
        <%= render photo_form.object, height: '150' %>
        <a href="" data-action='image-files#removeDatabaseImage'>Remove</a>
      </div>
      <%= photo_form.input :_destroy,
                            as: :hidden, 
                            wrapper: false,
                            input_html: { id: "destroy-#{photo_form.object.id || "i#{photo_form.index}"}",
                                          value: 'false',
                                          data: { form_target: 'input' } } %>
    <% end %>
  </div>
  <div class="field photos-field">
    <div class="photo-errors error-list" data-image-files-target="errors">
      <% post.photos.each.with_index(1) do |photo, i| %> 
        <% photo.errors.full_messages.each do |message| %>
          <p class="error">Photo #<%= i %>: <%= message %></p>
        <% end %>
      <% end %>

      <% if post&.raw_photos_errors&.any? %>
        <p class="error">Removed new photos for the following reasons:</p>
        <ul>
          <% post.raw_photos_errors.each do |photo, i| %>
            <% photo.errors.full_messages.each do |message| %>
              <li class="error">Photo #<%= i %>: <%= message %></p>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="photo-upload" data-image-files-target="fileFieldContainer">
      <button data-action="image-files#selectFileField">Upload Photos</button>
      <%= form.file_field :raw_photos, multiple: true, 
                          id: 'filefield-0', class: 'hidden',
                          data: { form_target: 'input', 
                                  action: 'image-files#filterImageFileType 
                                           image-files#updateFileDisplayMultiple
                                           form#setSubmit' } %>
    </div>
  </div>
  <div class="submit"><%= form.submit 'Post', disabled: true, data: { form_target: 'submit' } %></div>
<% end %>
