<div data-controller="redirect" data-action="turbo:before-fetch-response->redirect#intercept">
  <%= render @image, link_path: false, size: nil %>
  <%= render 'likes/likes_display', reactable: reaction_target(@image) %>
  <%= render 'likes/likes_link', reactable: reaction_target(@image) %>
  <%= render 'comments/comment_link', text: 'Comment', reactable: reaction_target(@image) %>
  <%= render 'comments/comment_display', reactable: reaction_target(@image) %>
</div>
