<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header data-controller='hidden'>
      <div class="logo-link"><a href="/"><%= render 'shared/logo' %></a></div>
      <% if user_signed_in? %>
        <div class="header-links">
          <div class="header-link"><%= link_to 'Find Friends', strangers_path %></div>
          <div class="header-link"><%= link_to current_user.profile.full_name, current_user_path %></div>
          <div class="header-link"><%= notifications_link %></div>
          <div class="header-link"><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %></div>
        </div>
        <%= turbo_frame_tag 'notifications', 
                            target: '_top', 
                            class: 'hidden',
                            data: { hidden_target: 'toggle' } %>
      <% end %>
    </header>
    <section class="content-with-navbar">
      <% if user_signed_in? %>
        <nav>
          <div class="navbar-link"><%= link_to 'Timeline', posts_path %></div>
          <div class="navbar-link"><%= link_to 'My Friends', friends_path %></div>
          <div class="navbar-link"><%= friend_request_link %></div>
          <div class="navbar-link"><%= link_to 'Edit Profile', edit_profile_path %></div>
          <% if current_user.native_login? %>
            <div class="navbar-link"><%= link_to 'Edit Account', edit_user_registration_path %></div>
          <% end %>
        </nav>
      <% end %>
      <section class="content <%= yield :page_classes %>">
        <% if flash.any? %>
          <div class="flash">
            <% flash.each do |name, message| %>
              <p class="<%= name %>"><%= message %></p>
            <% end %>
          </div>
        <% end %>
        <section class="page-content"><%= yield %></section>
      </section>
    </section>
  </body>
</html>
