<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header data-controller="hidden viewed links">
      <div class="logo-link"><a href="/"><%= render 'shared/logo', size: 'small' %></a></div>
      <% if user_signed_in? %>
        <div class="hidden" id="user-id"><%= current_user.id %></div>
        <div class="header-links">
          <div class="header-link" data-links-target="linkDiv">
            <%= link_to current_user.profile.full_name, current_user_path %>
          </div>
          <div class="header-link" data-links-target="linkDiv">
            <%= link_to 'Find Friends', strangers_path %>
          </div>
          <div class="header-link" data-links-target="linkDiv">
            <%= notifications_link %>
          </div>
          <div class="header-link" data-links-target="linkDiv">
            <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %>
          </div>
          <%= turbo_frame_tag 'notifications', 
                            target: '_top', 
                            class: 'hidden',
                            data: { hidden_target: 'toggle' } %>
        </div>
        <nav>
          <div class="navbar-links">
            <div class="navbar-link" data-links-target="linkDiv"><%= link_to 'Timeline', posts_path %></div>
            <div class="navbar-link" data-links-target="linkDiv"><%= link_to 'Friends', friends_path %></div>
            <div class="navbar-link" data-links-target="linkDiv"><%= friend_request_link %></div>
            <div class="navbar-link" data-links-target="linkDiv"><%= link_to 'Edit Profile', edit_profile_path %></div>
            <% if current_user.native_login? %>
              <div class="navbar-link" data-links-target="linkDiv"><%= link_to 'Edit Account', edit_user_registration_path %></div>
            <% end %>
          </div>
        </nav>
      <% end %>
    </header>
    <section class="content <%= yield :page_classes %>">
      <% if content_for?(:flash) %>
        <%= yield :flash %>
      <% else %>
        <%= render 'shared/flash' %>
      <% end %>
      <section class="page-content"><%= yield %></section>
    </section>
  </body>
</html>
